<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AliteX</title>
</head>
<body>
    <h3>Edit Listing</h3>
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT">
        <input name="listing[title]" type="text" value="<%= listing.title %>" placeholder="Enter Title"> <br>
        <textarea name="listing[description]" placeholder="Enter Description"><%= listing.description %></textarea> <br>
        <input name="listing[image]" type="text" value="<%= listing.image %>" placeholder="Enter Image URL"> <br>
        <input name="listing[price]" type="number" value="<%= listing.price %>" placeholder="Enter Price"> <br>
        <input name="listing[country]" type="text" value="<%= listing.country %>" placeholder="Enter Country"> <br>
        <input name="listing[location]" type="text" value="<%= listing.location %>" placeholder="Enter Location"> <br>
        <button type="submit">Update</button>
    </form>
</body>
</html>
