<% layout("/layouts/boilerplate") -%>
<body>
    <center><h3 class="m32">Custom Order</h3></center>

    <div class="bd">

   
    <div class="card">
        <a class="listing-link" href="/listings/<%= listing._id %>"> <div class="card cal" >
            <img src="<%= listing.image.url %>" class=" card-img-top" alt="listing image" style="height: 20rem;">
            <div class="card-img-overlay"></div>
            <div class="card-body">
              <p class="card-text">
               <b> <%= listing.title %> </b><br>
                &#8377; <%= listing.price.toLocaleString("en-in") %>/Night <br>
        
              </p>
            </div>
          </div></a>
    </div>
    <div class="width-form">
    <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">

      <div>
        <input name="listing[title]" type="text" value="<%= listing.title %>" placeholder="Enter Title" class="form-control" required> <br>
        <div class="invalid-feedback">
          I Think App Kuch bhul Rahe Ho! 
        </div>
        <div class="valid-feedback">
          Good Choice !
        </div>
      </div>
      
      
       <div>
         <input name="listing[price]" type="number" value="<%= listing.price %>" placeholder="Enter Price" class="form-control"  required> <br>
         <div class="invalid-feedback">
          Hmm! Product Free Hie Shayad ? 
        </div>
        <div class="valid-feedback">
          Ameer Logzzzz!
        </div>
       </div>
            <!-- <input name="listing[country]" type="text" value="<%= listing.country %>" placeholder="Days" class="form-control"> <br> -->
            <!-- <input name="listing[location]" type="text" value="<%= listing.location %>" placeholder="Quantity" class="form-control"> <br> -->
            <!-- <input name="listing[location]" type="text" value="<%= listing.location %>" placeholder="Enter Delivery Date" class="form-control"> <br> -->
 <div>
   <textarea name="listing[description]" placeholder="Enter Specifications" class="form-control"  required><%= listing.description %></textarea> <br>
   <div class="invalid-feedback">
    Hmm! chalo ab ye bee bata hee do kee kya kya chaiye drone main ? 
  </div>
  <div class="valid-feedback">
    Wow!! kya choice hie 
  </div>
 </div>
<div>
  <input name="listing[image][url]" type="text" value="<%= listing.image %>" placeholder="Enter Image URL" class="form-control"  required> <br>
  <div class="invalid-feedback">
    Hmm! Link to dete jayia muje ni pata wo kesa dihkta h ?  
  </div>
  <div class="valid-feedback">
   ye Mujper chod do !
  </div>
</div>
        <button type="submit" class="button">Update</button>
    </form>
</div>
</div>
<script src="/js/script.js"></script>
</body>

